<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head.html}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include="~{/fragments/nav.html}"></th:block>
    </nav>
</header>
<main  th:object="${hero}">
    <h1 class="text-center mt-2">Delete Hero</h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-15"  >
        <div class="form-group">
            <div class="label-holder d-flex justify-content-center text-white">
                <label for="name" class="h3 mb-2">Name</label>
            </div>
            <input th:fiel="*{name}" type="text" class="form-control" id="name" name="name" value="SoulTaker" disabled="true">
        </div>
        <div class="form-group">
            <div class="label-holder d-flex justify-content-center text-white">
                <label for="heroClass" class="h3 mb-2">Hero class</label>
            </div>
            <input th:fiel="*{classEnum.name()}" type="text" class="form-control" id="heroClass" name="heroClass" value="Warrior" disabled="true"/>
        </div>
        <div class="form-group">
            <div class="label-holder d-flex justify-content-center text-white">
                <label for="level" class="h3 mb-2">Level</label>
            </div>
            <input th:fiel="*{level}" type="number" class="form-control" id="level" name="level" value="75" disabled="true"/>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <a th:href="@{/heroes/deleteConfirm/(id=*{id})}">
            <button   class="btn btn-danger text-white mb-3" type="button" value="Delete Hero">Delete Hero</button>

            </a>
        </div>
    </form>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer.html}"></th:block>
</footer>
</body>
</html>