<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head.html}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include="~{/fragments/nav.html}"></th:block>
    </nav>
</header>
<main>
    <div class="text-center mt-2 mb-4">
        <h1>Hero Details</h1>
    </div>
    <hr class="my-3"/>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6" th:object="${hero}">
                <div class="label mt-2">
                    <h2 class="text-white text-center">Name</h2>
                    <h4 th:text="*{name}" class="text-white text-center">SoulTaker</h4>
                </div>
                <div class="label mt-4">
                    <h2 class="text-white text-center">Class</h2>
                    <h4 th:text="*{classEnum.name()}" class="text-white text-center">Warrior</h4>
                </div>
                <div class="label mt-4">
                    <h2 class="text-white text-center">Level</h2>
                    <h4 th:text="*{level}" class="text-white text-center mb-3">75</h4>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer.html}"></th:block>
</footer>
</body>
</html>