<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head.html}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include="~{/fragments/nav.html}"></th:block>
    </nav>
</header>
<main>
    <div class="text-center mb-3">
        <h4 th:text="|Welcome to the arena, ${session.get('user')['username']}|" class="text-white mt-2">Welcome to the arena, #{username}}</h4>
    </div>
    <hr class="my-3"/>
    <div class="container"  >
        <div th:each="o : ${heroes}" th:object="${o}" class="row mb-4 d-flex justify-content-around">
            <div class="col-md-3 d-flex flex-column text-center mb-3">
                <img th:src="*{imageUrl}" class="img-thumb" width="300" height="300"/>
                <h5 th:text="*{classEnum.name()}" class="text-white text-center">Warrior</h5>
                <a th:href="@{/heroes/details/(id=*{id})}" class="btn btn-info mb-2">Details</a>
                <a th:href="@{/heroes/delete/(id=*{id})}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</main>
<span style="visibility: hidden">...</span>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer.html}"></th:block>
</footer>
</body>
</html>
