<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head.html}"></th:block>
</head>
<body>
<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <th:block th:include="~{/fragments/nav.html}"></th:block>
    </nav>
</header>
<main>
    <h1 class="text-center">Register</h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-15" th:action="@{/users/register}" method="POST" th:object="${userRegisterBindingModel}">
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="username" class="h4 mb-2 text-white">Username</label>
            </div>
            <input th:field="*{username}" th:errorclass="bg-danger" type="text" class="form-control" id="username" name="username"/>
            <span th:each="e : ${#fields.errors('username')}" th:text="${e}"></span>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="email" class="h4 mb-2">Email</label>
            </div>
            <input th:field="*{email}" th:errorclass="bg-danger"  type="email" class="form-control" id="email" name="email"/>
            <span th:each="e : ${#fields.errors('email')}" th:text="${e}"></span>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="password" class="h4 mb-2">Password</label>
            </div>
            <input th:field="*{password}" th:errorclass="bg-danger"  type="password" class="form-control" id="password" name="password"/>
            <span th:each="e : ${#fields.errors('password')}" th:text="${e}"></span>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
            </div>
            <input th:field="*{confirmPassword}" th:errorclass="bg-danger"  class="form-control" type="password" id="confirmPassword" name="confirmPassword"/>
            <span th:each="e : ${#fields.errors('confirmPassword')}" th:text="${e}"></span>
        </div>
		<div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                 <label for="country" class="h4 mb-2">Country</label>
			</div>
            <input th:field="*{country}" th:errorclass="bg-danger"  type="text" class="form-control" id="country" name="country"/>
            <span th:each="e : ${#fields.errors('country')}" th:text="${e}"></span>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button class="btn btn-info text-white mb-3" type="submit">Register</button>
        </div>
    </form>
</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer.html}"></th:block>
</footer>
</body>
</html>