<app-search-bar></app-search-bar>



<div class="container"> =====================================================================================</div>

<div class="container">



    <div class="row">
        <div class="col-3">
            <h2 class="hl-card-header__headline">
                <a href="/"><!--F#f_8--><!--F#f_@button-->
                    <!--F#f_11-->Lenovo<!--F/--><!--F/--><!--F/-->
                <svg class="hl-card-header__headline__icon icon icon--search" focusable="false" style="fill:#767676;" aria-hidden="true">
                <use xlink:href="#icon-search"></use>
                </svg>
                </a>
            </h2>
        </div>
        <div class="col-3"><!--F#f_8--><!--F#f_@button--><!--F#f_11-->New in your Saved Search<!--F/--><!--F/--><!--F/--></div>
    </div>
    <app-all-listings></app-all-listings>



</div>

<div class="container"> =====================================================================================</div>
<div class="container">

        <div class="row">
            <div class="col-3">
                <h2 class="hl-card-header__headline">
                    <a href="/"><!--F#f_8--><!--F#f_@button--><!--F#f_11-->Watch List<!--F/--><!--F/--><!--F/-->
                        <svg class="hl-card-header__headline__icon icon icon--search" focusable="false" style="fill:#767676;" aria-hidden="true">
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </a>
                </h2>
            </div>
            <div class="col-3"><!--F#f_8--><!--F#f_@button--><!--F#f_11-->Your Watch List<!--F/--><!--F/--><!--F/--></div>
        </div>


        <app-all-listings></app-all-listings>
    </div>
    <div class="container"> =====================================================================================</div>