<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head.html}"></th:block>
</head>
<body>
<div class="page-container">
    <header>
        <nav class="navbar navbar-expand-lg ">
            <th:block th:include="~{/fragments/nav.html}"></th:block>
        </nav>
    </header>

    <main class="content-wrap">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Task</span></h1>
        <hr class="hr-3 w-25 bg-white"/>
        <form class="mx-auto w-25 bg-blur"  method="POST" th:action="@{/tasks/add}"
        th:object="${taskAddBindingModel}">
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="name" class="h4 mb-2">Name</label>
                </div>
                <input th:field="*{name}" th:errorclass="bg-danger" type="text"  class="form-control" id="name" name="name"/>
                <small th:each="e : ${#fields.errors('name')}" th:text="${e}" class="text-danger">Name error message</small>
            </div>
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="description" class="h4 mb-2">Description</label>
                </div>
                <input th:field="*{description}" th:errorclass="bg-danger" type="text" class="form-control" id="description" name="description"/>

                <small  th:each="e : ${#fields.errors('description')}" th:text="${e}" class="text-danger">Description error message</small>
            </div>
            <div class="form-group">
                <div class="label-holder  textCol d-flex justify-content-center">
                    <label for="dueDate" class="h4 mb-2">Due Date</label>
                </div>
                <input th:field="*{dueDate}" th:errorclass="bg-danger" type="date" class="form-control" id="dueDate" name="dueDate"/>
                <small  th:each="e : ${#fields.errors('dueDate')}" th:text="${e}" class="text-danger">Date error message</small>
            </div>
            <div class="form-group">
                <div class="label-holder  textCol d-flex justify-content-center">
                    <label for="classification" class="h4 mb-2">Classification</label>
                </div>
                <select th:field="*{classification}" th:errorclass="bg-danger" type="text" class="form-control" id="classification" name="classification">
                    <option value="">Select Classification</option>
                    <option th:each="o : ${T(exam.music.model.entity.ClassificationEnum).values()}" th:text="${o}" th:value="${o}">FEATURE</option>



                </select>
                <small th:each="e : ${#fields.errors('classification')}" th:text="${e}" class="text-danger">Classification error message</small>
            </div>

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="button btn-warning  mb-3" value="Register">Add Task</button>
            </div>
        </form>
    </main>
    <footer class="footer">
        <th:block th:include="~{/fragments/footer.html}"></th:block>
    </footer>
</div>


</body>
</html>