<div class="container-fluid">
    <div class="row g-3 align-items-start">
<div class="row">
    <h2>Create Lsting</h2>
</div>

<br>
<div class="col-lg-10 col-md-8">
            <form>

                <div class="row g-3 align-items-center">

                    <div class="row align-items-start">
                        <div class="col-1">
                            <label for="inputPassword5" class="form-label">Title:</label>
                        </div>
                        <div class="col">
                            <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <div class="row">
                            <div class="col-1">
                                <label for="inputPassword5" class="form-label">Category:</label>
                            </div>
                            <div class="col-3">
                                <select formControlName="" class="form-control">
                                    <option selected> Select...</option>
                                    <option >Fashion</option>
                                    <option >Auto</option>
                                    <option >Service</option>
                                </select>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <div class="row">
                            <div class="col-2">
                                <label for="inputPassword5" class="form-label">Coondition:</label>
                            </div>
                            <div class="col-3">
                                <select formControlName="" class="form-control">
                                    <option selected> Select...</option>
                                    <option >NEW</option>
                                    <option >NEW OTHER</option>
                                    <option >USED</option>
                                    <option >REFUBISHED</option>
                                    <option >DEFECT</option>
                                    <option >FOR PARTS</option>
                                </select>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <div class="col-1">
                            <label for="inputPassword5" class="form-label">Image Url</label>
                        </div>
                        <div class="col">
                            <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                        </div>
                    </div>

                    <div class="row align-items-start">
                        <label for="inputPassword5" class="form-label">Description</label>
                        <textarea type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"></textarea>
                    </div>

                </div>

                <div class="container-fluid g-3">
                    <div class="row">
                        <h5>Selling Format</h5>
                    </div>
                    <div class="row align-items-start">
                        <div class="col-1">
                            <label for="inputPassword5" class="form-label">Format</label>
                        </div>
                    <div class="col-3">
                        <select formControlName="" class="form-control">
                            <option selected> Select...</option>
                            <option > Action</option>
                            <option > Fixed</option>
                        </select>
                     </div>
                     <div class="col"></div>
                   <div class="col-1">
                        <label for="inputPassword5" class="form-label">Duraton</label>
                    </div>
                    <div class="col-1">
                        <input type="number" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                    </div>
                    <div class="col"><p>days</p></div>
                    <div class="col"></div>
                </div>

                <div class="row align-items-start">
                    <div class="col-1">
                        <label for="inputPassword5" class="form-label">Price</label>
                    </div>
                    <div class="col-2">
                        <input type="number" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                    </div>
                    <div class="col"></div>
               <div class="col-1">
                   <label for="inputPassword5" class="form-label">Quantity</label>
               </div>
               <div class="col-1">
                   <input type="number" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
               </div>
<div class="col">pcs</div>
<div class="col"></div>
            </div>
            </div>


            <div class="row g-3 align-items-center">
                <div class="row">
                    <h5>Delivery</h5>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="inputPassword5" class="form-label">Delivery Service:</label>
                </div>
                    <div class="col-5">
                    <select formControlName="" class="form-control">
                        <option selected> Select...</option>
                        <option >Courier</option>
                        <option >Post</option>

                      </select>
                </div>
                <div class="col-1"></div>
                <div class="col-1">
                    <label for="inputPassword5" class="form-label">Coast:</label></div>
                    <div class="col-1">
                    <input type="number" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                </div>
                <div class="col-3">               </div>

            </div>
            </div>

             <div class="row g-3 align-items-center">
                <div class="row">
                    <h5>Payment</h5>
                </div>
                    <div class="row align-items-start">
                        <div class="col-2">
                            <label class="form-label">Payment Method:</label>
                       </div>
                        <div class="col-3">
                            <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                        </div>
                        <div class="col"></div>
                    </div>
             </div>

                <div class="row">
                <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
      </div>
  </div>
</div>