<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="~{/fragments/head.html}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <th:block th:include="~{/fragments/nav.html}"></th:block>
    </nav>
</header>
<main class="p-5 align-content-center bg-blur my-main">
    <h2 th:text="|Total sold copies
        of all albums: ${count}|" class="text-light border-bottom">Total sold copies
        of all albums: 10000</h2>
    <div class="row">
        <div class="col-md-3">
            <div th:each="o : ${all}"  th:object="${o}" class="card mb-4 box-shadow">
                <img th:src="*{imageUrl}" class="card-img-top" alt="Thumbnail [100%x225]"
                     data-holder-rendered="true"
                     style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <div class="text-center">
                        <p th:text="|Name: *{name}|" class="card-text border-bottom ">Name: Name of album</p>
                        <p th:text="|Artist: *{artist}|" class="card-text border-bottom ">Artist: Metallica</p>
                        <p th:text="|Genre: *{genre.name()}|" class="card-text border-bottom ">Genre: Metal</p>
                        <p th:text="|Price: *{price}|" class="card-text border-bottom ">Price: 19.99</p>
                        <p th:text="|Release Date: *{releasedDate}|" class="card-text border-bottom">Release Date: </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a th:href="@{/albums/delete/(id=*{id})}" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                        <small th:text="|*{copies} copies|" class="text-muted">1000 copies</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer bg-blur">
    <th:block th:include="~{/fragments/footer.html}"></th:block>
</footer>
</body>
</html>
