<!-- Footer -->
<footer class="bg-light text-center text-lg-start">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold  mt-3 mb-4">Buy</h5>

          <ul class="navbar-nav">
            <li>
              <a href="/listing/all?filter=watchList">Watchings</a>
            </li>
            <li>
              <a href="/orders/purchase">Purchase</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold mt-3 mb-4">Sell</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/listing/sell">Start selling</a>
            </li>
            <li>
              <a href="/orders/solds">Solds</a>
            </li>
            <li>
              <a href="/listing/all?filter=mylist">Listings</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold mt-3 mb-4">Help</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/help">Support 1</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2021 Copyright:
      <a href="/"> Buy-Sell-O.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->