 <app-search-bar></app-search-bar>

<div class="container-fluid">
    <div class="row">
        <!--  if isCretor -->
       <div *ngIf="listing.owner" class="border">
            <div class="row">
                <div class="col-2"><a href="/listing/edit/{{listing.id}}">Revise</a></div>
                <div class="col-3">  <p>List starts at:  {{listing.createOn | date:'dd/MM/yyyy HH:mm' }} </p> </div>
                <div class="col-3"><p>Selling format: {{listing.sellingFormat.title}}</p> </div>
                <div class="col-3"><p>Ordered: {{listing.orderedCount}} times</p> </div>
                <div class="col"></div>
            </div>
            <div class="row"  >
                <div class="col-2">  <a *ngIf="listing.active" href="#" (click)="onEnd(listing.id)"  >End list</a></div>
                <div class="col-3">  <p>List end at:  {{listing.endOn | date:'dd/MM/yyyy HH:mm' }} </p> </div>
                <div class="col-3">   <p>Days duartion: {{listing.sellingFormat.duration }} days</p> </div>
                <div class="col-3"><p>Watchers: {{listing.watchCount}}</p></div>
                <div class="col"></div>
            </div>
        </div>

        <br>
        <div class="col-lg-10 col-md-8">
                    <!-- condition -->
               <div class="row">
                  <div class="row">
                    <div class="col-5"><img src="{{listing.imageUrl}}" alt="{{listing.title}}" width="400" height="600"></div>
                    <div class="col">

                    <h2>{{listing.title}}</h2>
                    <h4>Condition: {{listing.condition.title}}</h4>

            <div class="row" *ngIf="!listing.active">
                <div class="col-3"><h4>Listing Was Ended</h4></div>
            </div>

             <div  class="row" *ngIf="listing.sellingFormat.title==='FIXED' && listing.active">
                 <form [formGroup]= "buyForm" (ngSubmit)="onBuy()" >
                     <div class="row">

                        <div class="col-1"><label for="" >
                        <p>    Price: {{listing.sellingFormat.price | number :'.2'}}  BGN</p>
                        </label></div>
                        <div class="col-1" style="visibility: hidden;">
                             <input  formControlName="price" type="number" step="0.01" value="listing.price" /></div>
                        <div class="col" ></div>
                    </div>

                <div class="row">
                    <div class="col-1"><label for="" >qty:</label></div>
                    <div class="col-1">
                          <input formControlName="quantity" type="number" value="1" step="1" min="1" max="{{listing.sellingFormat.quantity}}" />
                        <p>Availble:{{listing.sellingFormat.quantity}}</p></div>
                    <div class="col" ></div>
                </div>
                <div class="row"> <div class="col-7">  <button >Buy it now</button></div></div>
                <div class="row"> <div class="col-7"> <button >Add to Basket</button></div></div>
                </form>
             </div>

            <div  *ngIf="listing.sellingFormat.title==='ACTION' && listing.active">
            <form>
            Price:   <input  type="number" step="0.01" value="{{listing.sellingFormat.price}}"> BGN

                <input type="submit"value="Place a Bid"/>

            </form>
            </div>

            <div *ngIf="listing.active" class="row"><div class="col-5"> <button (click)="onWatch()">
                <a *ngIf="!listing.watched">Watch</a>
                <a *ngIf="listing.watched" >Unwatch</a>

            </button></div></div>

            <div class="row" *ngIf="listing.deliveryDomestic.price">
                <div class="row">
                    <h5>Domestic Delivery BGN {{listing.deliveryDomestic.price | number:'.2-2'}}</h5>
                </div>

                <div class="row" *ngIf="listing.deliveryInternational.price">
                    <div class="row">
                        <h5>International Delivery BGN {{listing.deliveryInternational.price | number:'.2-2'}}</h5>
                    </div>
                </div>
                <div class="row ">
                    <div class="row">
                        <h5>Accept Payment: {{listing.payment}}</h5>
                    </div>

                 </div>
                    </div>
                </div>
            </div>
        <!-- Description -->
            <div class="row ">
                <label  class="form-label">Description</label>
                <textarea disabled type="text" class="form-control" >{{listing.description}}</textarea>
            </div>

             </div>
         </div>
         <div class="col-2">
             <div class="row">
                Watch from: {{listing.watchCount}} Buyer<a *ngIf="listing.watchCount>1">s</a>
             </div>
             <div class="row">
                 <ul  class="navbar-nav">
                    <li> <a href="/usr/profile/{{listing.createFrom}}"> Seller:  {{listing.createFrom}}</a> </li>
                    <li> <a href="/usr/shop/{{listing.createFrom}}">Visit {{listing.createFrom}} shop</a></li>
                    <li>  <a href="/usr/feedback/{{listing.createFrom}}">Look {{listing.createFrom}} Feedbacks</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Send Message
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <form [formGroup]= "mailCreate" (ngSubmit)="onSend()" >
                                <div class="row">

                                   <div class="col">
                                       <label for="" >Message:</label>
                                    <textarea type="text" class="form-control" formControlName="text"></textarea>
                                </div>
                               </div>


                           <div class="row"> <div class="col">  <button >Send</button></div><div class="col-1"></div> <div class="col"> <button type="button">Cancel</button></div></div>
                           </form>

                        </div>
                    </li>
                 </ul>

             </div>
            </div>
    </div>
</div>